@using ApplicationCore.Contracts.Services;
@inject IGenreService genreService;

<div class="text-start">
    <ul class="nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-secondary" role="button" aria-expanded="false">Genres </a>
            <div class="dropdown-menu">
                @foreach (var genre in await genreService.GetAllGenres())
                {
                    <a class="dropdown-item" asp-controller="Movies" asp-action="GenreMovies" asp-route-id="@genre.Id">@genre.Name</a>
                }
            </div>
        </li>
    </ul>
</div>


