@model ApplicationCore.Models.PurchaseMovieModel
@using ApplicationCore.Contracts.Services
@using MovieShopMVC.Infra
@inject IUserService userService
@inject IMovieService movieService
@inject ICurrentUser currentUser

@{
    var movie = await movieService.GetMovieDetails(Model.MovieId);
}

@if (currentUser.IsAuthenticated)
{
    var purchased = await userService.IsPurchased(Model.MovieId, currentUser.UserId);
    if (purchased)
    {
        <button type="button" class="btn btn-light">WATCH MOVIE <i class="bi bi-play-btn-fill"></i></button>
    }
    else
    {
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#purchaseModal">
            BUY $@movie.Price.Value.ToString()
        </button>

        <!-- Modal -->
        <div class="modal fade" id="purchaseModal" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="purchaseModal">Purchase Movie</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Going to complete purchase for @movie.Title with $@movie.Price
                    </div>
                    <div class="modal-footer">
                        <form asp-action="BuyMovie" asp-controller="User">
                            <input asp-for="UserId" value="@currentUser.UserId" type="hidden" />
                            <input asp-for="MovieId" value="@Model.MovieId" type="hidden" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
                            <button type="submit" class="btn btn-primary">Ok</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <a asp-controller="Account" asp-action="Login" class="btn btn-light">Purchase</a>
}